Repository glidingthroughspace/paper-tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: area/hardware, area/app, area/backend, area/paper

Hardware: Simplify CBOR deserialization
  hardware/firmware/include/serialization/cborUtils.h
  hardware/firmware/src/apiClient.cpp
  hardware/firmware/src/main.cpp
  hardware/firmware/src/models/command.cpp
  hardware/firmware/src/serialization/cborUtils.cpp
  hardware/firmware/src/wifi.cpp
Labels: area/hardware

Hardware: Fix typo
  hardware/firmware/include/serialization/cborUtils.h
Labels: area/hardware

Hardware: Fix typo
  hardware/firmware/include/serialization/cborUtils.h
  hardware/firmware/src/serialization/cborUtils.cpp
Labels: area/hardware

Hardware: Simplify CBOR serialization
  hardware/firmware/include/models/command.h
  hardware/firmware/include/serialization/cborUtils.h
  hardware/firmware/src/models/command.cpp
  hardware/firmware/src/serialization/cborUtils.cpp
Labels: area/hardware

App: Add learn page with dropdowns, start button and countdown ti… (#35)
  app/lib/client/tracker_client.dart
  app/lib/main.dart
  app/lib/model/learningStartResponse.dart
  app/lib/model/learningStartResponse.g.dart
  app/lib/model/room.dart
  app/lib/model/room.g.dart
  app/lib/model/tracker.dart
  app/lib/model/tracker.g.dart
  app/lib/pages/config_page.dart
  app/lib/pages/init_page.dart
  app/lib/pages/learning_page.dart
  app/lib/pages/main_page.dart
  app/lib/pages/room_page.dart
  app/lib/widgets/card_list.dart
  app/lib/widgets/countdown_timer.dart
  app/lib/widgets/detail_content.dart
  app/lib/widgets/label.dart
  app/lib/widgets/room_list.dart
  app/test/tracker_model_test.dart
  server/Makefile
  server/managers/learning_manager.go
  server/managers/learning_manager_test.go
  server/managers/tracker_manager.go
  server/managers/tracker_manager_test.go
  server/models/communication/app.go
  server/models/communication/common.go
  server/models/room.go
  server/models/tracker.go
  server/repositories/gorm/gorm_room_repository.go
  server/repositories/gorm/gorm_tracker_repository.go
Labels: area/app, area/backend

App: Add check list for SSIDs
  app/lib/pages/learning_page.dart
  app/lib/widgets/card_list.dart
  app/lib/widgets/room_list.dart
  app/lib/widgets/tracker_list.dart
Labels: area/app

Add learningStatus to app, add finishLearning to api
  app/lib/client/tracker_client.dart
  app/lib/model/communication/learningStartResponse.dart
  app/lib/model/communication/learningStartResponse.g.dart
  app/lib/model/communication/learningStatusResponse.dart
  app/lib/model/communication/learningStatusResponse.g.dart
  app/lib/model/tracker.g.dart
  app/lib/pages/learning_page.dart
  app/lib/widgets/card_list.dart
  app/lib/widgets/countdown_timer.dart
  app/pubspec.yaml
  server/managers/learning_manager.go
  server/managers/learning_manager_test.go
  server/models/communication/app.go
  server/router/app_api.go
  server/router/http_middleware.go
  server/router/http_router.go
Labels: area/app, area/backend

App: Add onSave for learning
  app/lib/client/tracker_client.dart
  app/lib/model/communication/learningFinishRequest.dart
  app/lib/model/communication/learningFinishRequest.g.dart
  app/lib/pages/learning_page.dart
  app/lib/widgets/card_list.dart
Labels: area/app

App: Add caching of apis
  app/lib/client/room_client.dart
  app/lib/client/tracker_client.dart
  app/lib/pages/init_page.dart
  app/lib/pages/learning_page.dart
  app/lib/pages/room_page.dart
  app/lib/pages/tracker_page.dart
  app/lib/widgets/room_list.dart
  app/lib/widgets/tracker_list.dart
Labels: area/app

App: Use map of tuples instead of maps for card list
  app/lib/widgets/card_list.dart
  app/lib/widgets/room_list.dart
  app/lib/widgets/tracker_list.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: area/app

Backend: Rename id param constant
  server/router/app_api.go
  server/router/http_middleware.go
  server/router/http_router.go
Labels: area/backend

App: Finish Learning Page, add "caching" (#38)
  app/lib/client/room_client.dart
  app/lib/client/tracker_client.dart
  app/lib/model/communication/learningFinishRequest.dart
  app/lib/model/communication/learningFinishRequest.g.dart
  app/lib/model/communication/learningStartResponse.dart
  app/lib/model/communication/learningStartResponse.g.dart
  app/lib/model/communication/learningStatusResponse.dart
  app/lib/model/communication/learningStatusResponse.g.dart
  app/lib/model/tracker.g.dart
  app/lib/pages/init_page.dart
  app/lib/pages/learning_page.dart
  app/lib/pages/room_page.dart
  app/lib/pages/tracker_page.dart
  app/lib/widgets/card_list.dart
  app/lib/widgets/countdown_timer.dart
  app/lib/widgets/room_list.dart
  app/lib/widgets/tracker_list.dart
  app/pubspec.lock
  app/pubspec.yaml
  server/managers/learning_manager.go
  server/managers/learning_manager_test.go
  server/models/communication/app.go
  server/router/app_api.go
  server/router/http_middleware.go
  server/router/http_router.go
Labels: area/app, area/backend

Add editing basic room
  app/lib/client/api_client.dart
  app/lib/client/room_client.dart
  app/lib/pages/room_page.dart
  app/lib/pages/tracker_page.dart
  server/managers/room_manager.go
  server/repositories/gorm/gorm_room_repository.go
  server/repositories/room_repository.go
  server/router/app_room_api.go
  server/router/app_tracker_api.go
  server/router/http_router.go
Labels: area/app, area/backend

Add deletion of rooms
  app/lib/client/api_client.dart
  app/lib/client/room_client.dart
  app/lib/pages/room_page.dart
  server/managers/room_manager.go
  server/router/app_room_api.go
Labels: area/app, area/backend

Hardware: Add more helpers for deserialization
  hardware/firmware/include/models/command.h
  hardware/firmware/include/serialization/cborUtils.h
  hardware/firmware/src/models/command.cpp
  hardware/firmware/src/serialization/cborUtils.cpp
Labels: area/hardware

Hardware: Start with new CBOR abstractions
  hardware/firmware/include/models/command.h
  hardware/firmware/include/models/scanResult.h
  hardware/firmware/include/serialization/cbor/CBORDocument.h
  hardware/firmware/include/serialization/cbor/CBORParser.h
  hardware/firmware/include/serialization/cbor/CBORValue.h
  hardware/firmware/include/serialization/cborUtils.h
  hardware/firmware/src/models/command.cpp
  hardware/firmware/src/serialization/cbor/CBORParser.cpp
  hardware/firmware/src/serialization/cborUtils.cpp
  hardware/firmware/src/wifi.cpp
Labels: area/hardware

Hardware: Implement serialization for CBOR Strings
  hardware/firmware/include/models/command.h
  hardware/firmware/include/serialization/cbor/CBORValue.h
  hardware/firmware/src/serialization/cbor/CBORParser.cpp
  hardware/firmware/src/wifi.cpp
Labels: area/hardware

Paper: Fix bibliography file
  paper/literatur.bib
Labels: area/paper

Paper: Add new requirements
  paper/content/analyse.tex
Labels: area/paper

.github/labeler.yml:

area/hardware:
  - hardware/**/*
area/app:
  - app/**/*
area/backend:
  - server/**/*
area/paper:
  - paper/**/*
